.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  color: white;
  background-color: #0e3f37;
}

.footer-heading {
  margin: 0;
  font-size: 1.5rem;
  width: max-content;
  font-weight: bold;
  color: #cf985f;
  /* border-bottom: 1px solid black; */
}

.location,
.hours,
.email,
.call {
  margin: 0;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.google-map {
  border: 0;
  aspect-ratio: 2/1;
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    gap: 2rem;
  }

  .info {
    flex-direction: row;
  }
}
