.container {
  min-height: 200vh;
  background-color: white;
}

.main {
}

.navbar {
  background-color: #1d9044;
}

.image {
  margin-top: 2rem;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.sub-heading {
  font-size: 1.5em;
  color: #1d9044;
}
.text {
  margin: 1.5rem;
  font-size: 1.25rem;
}
