.container {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #1d9044;
}

.image {
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.sub-heading {
  font-family: fira-sans;
  font-style: italic;
  font-size: 1.5em;
  color: #1d9044;
}

.text {
  margin: 1.5rem;
  font-size: 1.25rem;
  flex: 1;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  width: 100%;
  background-color: #dcedde;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 2rem;
  gap: 1rem;
  color: white;
  background-color: black;
}

.footer-heading {
  margin: 0.5rem 0 0;
  padding: 0.5rem 0 0;
  width: max-content;
  font-weight: bold;
  color: #1d9044;
  border-bottom: 1px solid black;
}

.info {
  margin: 0;
}

.location {
  display: flex;
  flex-direction: column;
}

.google-map {
  border: 0;
  aspect-ratio: 2/1;
  max-width: 400px;
}

.hours {
}

.call {
}

.email {
}

@media (min-width: 600px) {
  .carousel-wrapper {
    padding: 2rem;
  }
  .bs-carousel {
    max-width: 80%;
  }
  .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .text-item {
    max-width: 70%;
  }
}
