.container {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #1d9044;
}

.image {
  margin-top: 2rem;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.sub-heading {
  font-family: fira-sans;
  font-style: italic;
  font-size: 1.5em;
  color: #1d9044;
}
.text {
  margin: 1.5rem;
  font-size: 1.25rem;
}

.map-container {
  border: 1px solid black;
  margin: 1rem;
  height: 400px;
}

.google-map {
  border: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
  background-color: gray;
}

.footer-heading {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: min-content;
  border-bottom: 1px solid black;
}

.location {
}

.hours {
}

.contact {
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    gap: 1rem;
  }
}
